<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>My Stories Matter Dev</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.432679085801-g1nfkmoibka4b55l4rsqb491n9egfjt3</string>
				<string>com.googleusercontent.apps.432679085801-mjequjjlktk88bvvgdrcbjr4bk5g5obd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cueback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mystoriesmatter</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>mailto</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>fb</string>
		<string>facebook-stories</string>
	</array>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>App wants to access your documents folder</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>App wants to access your downloads folder</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>admin.cueback.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>cueback-com.storage.googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>The app would like to save Music in to your gallery</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera permission to upload camera images</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The app needs Microphone to record audio on users demand</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The app would like to save photos from the app to your gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs library permissions to select images for uploading</string>
	<key>UIAppFonts</key>
	<array>
		<string>FiraSansExtraCondensed-Black.ttf</string>
		<string>FiraSansExtraCondensed-BlackItalic.ttf</string>
		<string>FiraSansExtraCondensed-Bold.ttf</string>
		<string>FiraSansExtraCondensed-BoldItalic.ttf</string>
		<string>FiraSansExtraCondensed-ExtraBold.ttf</string>
		<string>FiraSansExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>FiraSansExtraCondensed-ExtraLight.ttf</string>
		<string>FiraSansExtraCondensed-ExtraLightItalic.ttf</string>
		<string>FiraSansExtraCondensed-Light.ttf</string>
		<string>FiraSansExtraCondensed-LightItalic.ttf</string>
		<string>FiraSansExtraCondensed-Medium.ttf</string>
		<string>FiraSansExtraCondensed-MediumItalic.ttf</string>
		<string>FiraSansExtraCondensed-Regular.ttf</string>
		<string>FiraSansExtraCondensed-RegularItalic.ttf</string>
		<string>FiraSansExtraCondensed-SemiBold.ttf</string>
		<string>FiraSansExtraCondensed-SemiBoldItalic.ttf</string>
		<string>FiraSansExtraCondensed-Thin.ttf</string>
		<string>FiraSansExtraCondensed-ThinItalic.ttf</string>
		<string>Proxima Nova Alt Bold.otf</string>
		<string>Proxima Nova Alt Light.otf</string>
		<string>Proxima Nova Alt Thin.otf</string>
		<string>Proxima Nova Black.otf</string>
		<string>Proxima Nova Bold.otf</string>
		<string>Proxima Nova Extrabold.otf</string>
		<string>Proxima Nova Thin.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>Lora-BoldItalic.ttf</string>
		<string>Lora-SemiBoldItalic.ttf</string>
		<string>Lora-MediumItalic.ttf</string>
		<string>Lora-Italic.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-SemiBold.ttf</string>
		<string>Lora-Medium.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>SFPro-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
